@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateY(-10rem); }
  80% {
    transform: translateY(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 122.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

body {
  font-family: 'Righteous', cursive; }

.heading-primary {
  margin-top: 3rem;
  color: #fff;
  font-size: 3.5rem;
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 2px;
  transition: all .2s; }
  .heading-primary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.container__heading {
  background-image: linear-gradient(to right, #2b2d42, #8397b9);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 2rem;
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 2px;
  transition: all .2s; }
  .container__heading:hover {
    transform: skewY(2deg) skewX(15deg) scale(1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.Section-Project {
  background-color: #8D99AE;
  padding: 10rem 0 30rem;
  margin: 0 auto; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  @media (max-width: 75em) {
    .row {
      max-width: 100rem; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 50rem; } }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 3rem;
          margin-bottom: 3rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-1 {
    width: calc((100% - 6rem)); }
  .row .col-1-of-2 {
    width: calc((100% - 6rem)/2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem)  /3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem)  /3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - (3 * 6rem) ) /4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - (3 * 6rem) ) /4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - (3 * 6rem) ) /4) + 2 * 6rem); }

.header {
  background-color: #2b2d42;
  height: 12vh;
  position: relative; }
  @media (max-width: 37.5em) {
    .header {
      height: 0; } }
  .header__logo-box {
    position: absolute;
    top: 2rem;
    left: 2rem; }
  .header__logo {
    height: 3.5rem;
    transition: all .2s; }
    .header__logo:hover {
      transform: skewY(10deg) skewX(5deg) scale(1.3);
      text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }
  .header__name {
    color: #fff;
    font-family: 'Righteous', cursive;
    letter-spacing: .5rem;
    text-transform: uppercase;
    position: absolute;
    top: 3rem;
    left: 10rem; }

.footer {
  background-color: #2b2d42;
  position: relative;
  height: 10vh; }
  .footer__primary {
    color: white;
    transition: all .2s; }
    .footer__primary, .footer__primary:link, .footer__primary:active {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      text-transform: uppercase;
      font-size: 2rem;
      text-decoration: none; }
      @media (max-width: 37.5em) {
        .footer__primary, .footer__primary:link, .footer__primary:active {
          font-size: 1.5rem; } }

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 80%;
  transition: all .2s;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  margin-top: 3rem; }
  @media (max-width: 56.25em) {
    .card {
      width: 100%; } }
  @media (max-width: 37.5em) {
    .card {
      width: 100%;
      padding: 0 2rem; } }
  .card__photo {
    width: 100%; }
  .card:hover {
    transform: scale(1.1);
    box-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }
  .card:active {
    transform: translateX(-2rem);
    box-shadow: 0.1rem 2rem 2rem rgba(0, 0, 0, 0.5); }

.container {
  background-color: #aeb9d3;
  padding: 1rem; }

.btn:visited, .btn:link {
  font-size: 2rem;
  text-decoration: none;
  color: #fff; }

.btn--gray {
  text-transform: uppercase;
  font-weight: 100;
  position: absolute;
  top: 2rem;
  right: 3rem;
  background-color: #8D99AE;
  padding: 1.1rem 2rem;
  border-radius: 10rem;
  display: inline-block;
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.2);
  transition: all .3s; }
  @media (max-width: 37.5em) {
    .btn--gray {
      width: 28%;
      font-size: .5rem;
      padding: 1rem;
      text-align: center;
      background-color: #2b2d42; } }
  .btn--gray:hover {
    transform: translateY(-0.5rem); }
  .btn--gray:active {
    transform: translateY(0); }

.popup {
  height: 0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  visibility: hidden;
  opacity: 0;
  transition: all 0.9s cubic-bezier(0.68, -0.6, 0.32, 1.6); }
  .popup__heading {
    opacity: 0;
    visibility: hidden;
    transition: all .9s; }
  .popup__info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    width: 75%;
    padding: 2rem 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.9s cubic-bezier(0.68, -0.6, 0.32, 1.6); }
  .popup__img-box {
    text-align: center;
    margin-bottom: 5rem; }
  .popup__img {
    border-radius: 50%;
    width: 50%;
    width: 20rem; }
  .popup__about-box {
    padding: 0 5rem;
    width: 100%;
    margin-top: 2rem;
    text-align: center;
    font-size: 1.6rem;
    text-transform: uppercase; }
  .popup__about {
    color: #eee;
    margin: auto;
    width: 50%;
    text-indent: 1.1rem; }
    @media (max-width: 56.25em) {
      .popup__about {
        width: 100%; } }
  .popup__link:visited, .popup__link:link {
    transition: all .2s;
    display: inline-block;
    background-color: #000;
    text-decoration: none;
    color: #fff; }
  .popup__link:hover {
    transform: rotate(5deg) scale(1.3);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
    color: #8D99AE; }
  .popup__close, .popup__close:visited, .popup__close:link {
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    color: #fff;
    text-decoration: none;
    font-size: 4rem;
    transition: all .2s;
    opacity: 0;
    visibility: hidden;
    transition: all 1.4s ease; }
  .popup__close:hover {
    color: red; }
  .popup:target {
    opacity: 1;
    visibility: visible;
    height: 100vh; }
  .popup:target .popup__info {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__close {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__heading {
    opacity: 1;
    visibility: visible; }
