.header{
background-color: $color-dark-blue ;
height: 12vh;
position:relative;


@include respond(phone){
   height: 0;
}

&__logo-box{
    position: absolute;
    top: 2rem;
    left: 2rem;
}
&__logo{
    height: 3.5rem;
    transition: all .2s;

    &:hover{
        transform: skewY(10deg) skewX(5deg)  scale(1.3) ;
        text-shadow: .5rem 1rem 2rem rgba($colorBlack,.2)
    }
}

&__name{
   
    color: $colorWhite;
    font-family: 'Righteous', cursive;
    letter-spacing: .5rem;
    text-transform: uppercase;
    position: absolute;
    top:3rem;
    left: 10rem;
}

}